
@font-face {
  font-family: 'PromocyjaRegular';
  src: url('PromocyjaRegular.eot?#iefix') format('embedded-opentype'),  url('PromocyjaRegular.woff') format('woff'), url('PromocyjaRegular.ttf')  format('truetype'), url('PromocyjaRegular.svg#PromocyjaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
